@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
.detail-restaurant-title {
  margin-top: 0%;
  font-size: 38px;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
}