.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 10%;
  justify-content: center;
}

.question-button {
  width: 20%;
  float: left;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.main-text {
  width: 50%;
  margin-top: -2.5%;
  margin-left: 25%;
  text-align: center;
}

.login-button {
  width: 25%;
  float: right;
  text-align: center;
  margin-top: -8%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .question-button {
    margin-top: 7%;
  }
  .login-button {
    margin-top: -9.5%;
  }
}