.author-text {
  margin-top: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #212121;
}

.link {
  text-decoration: none;
  color: #212121;
}

@media (min-width: 320px) and (max-width: 480px) {
  .author-text {
    font-size: 5px;
  }
}