.api-text {
  margin-top: -1%;
}

.api {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #212121;  
}

@media (min-width: 320px) and (max-width: 480px) {
  .api {
    font-size: 5px;
  }
}