.home {
  height: 100%;
}

.image {
  display: flex;
  background-image: url(home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.spin {
  margin:0;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 480px) {
  .home {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: auto 100%;
  }
}

