.imege-text {
  margin-top: -1%;
}

.image-url {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

}

@media (min-width: 320px) and (max-width: 480px) {
  .image-url {
    font-size: 5px;
  }
}