.catchphrase {
  margin-top: 25%;
  width: 100%;
  font-style: initial; 
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #FAFAFA;
  text-align: center;
  text-shadow: 2px 2px 2px #212121; 
}

@media (min-width: 320px) and (max-width: 480px) {
  .catchphrase {
    margin-top: 100%;
    font-size: 15px;
    line-height: 15px;
  }
}