.question {
  justify-content: center;
  text-align: center;
  margin-top: 2.5%;
  margin-left: -25%;
}


.header-question-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.close {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  float: right;
}

/* @media (min-width: 320px) and (max-width: 480px) {
  .question {
    margin-top: 5%;
    width: 5%;
  }

  .question-button {
    width: 50%;
    margin-right: 80%;

  }
} */