@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.login-text {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .login-text {
    margin-top: -13%;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    margin-left: 30%;
  }
}