@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header-title {
  font-family: 'Lobster', cursive;
  margin-top: -3.3%;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: #212121;
  text-decoration: none;
  border-style: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header-title {
    margin-top: 22.5%;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin-left: -10%;
  }
}